@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Battambang:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;

  flex-wrap: wrap;
  gap: 40px;
}

.card-item {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 8px 16px 35px -14px rgba(247, 139, 247, 1);
  -moz-box-shadow: 8px 16px 35px -14px rgba(247, 139, 247, 1);
  box-shadow: 8px 16px 35px -14px rgba(247, 139, 247, 1);
  border-radius: 10px;
  font-family: "Battambang", cursive;
  border: rgb(240, 146, 237) solid 11%;
  gap: 10px;
  margin: 20px;
  animation: myAnim 3s;
}
.card-item:hover {
  color: black;
  cursor: pointer;
  padding: 10px;
  -webkit-box-shadow: 8px 16px 35px -14px rgb(251, 7, 251);
  -moz-box-shadow: 8px 16px 35px -14px rgb(253, 3, 253);
  box-shadow: 8px 16px 35px -14px rgb(255, 1, 255);
  animation: myAnimee 1s linear 2s 1 normal forwards;
}
.card-item::after {
  animation: myAnime 1s linear 2s 1 normal forwards;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Bungee Inline", cursive;
  color: blueviolet;
  position: relative;
  font-size: 4em;
  letter-spacing: 15px;
  color: violet;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin: 20px;
  outline: none;
  animation: myAnim 3s;
}

@keyframes myAnim {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes myAnime {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.6);
  }
}
